h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas      
                    +navTemaItem('1', 'Teoría del color', 'main.html#page/teoria_color/')
                    +navTemaItem('2', 'Concept art', 'main.html#page/concept_art/')          
                    
                    