h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 #[strong Cod. 220501083 – 01]
        p.mb-0 Ilustrar las imágenes de referencia de los elementos a modelar según las necesidades del storyboard.
      




