include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Bancroft, T. (2012). Character mentor: learn by example to use expressions, poses, and staging to bring your characters to life. CRC Press.", "")
        +referenciaItem("Cortes, J. (2020). 19 Principios del diseño de personajes.", "https://www.notodoanimacion.es/principios-del-diseno-de-personajes/")
        +referenciaItem("Gámez, J. (2019). Cómo contar historias con el uso del color.", "https://www.animum3d.com/blog/uso-del-color-en-ilustracion/")
        +referenciaItem("Jiménez, Ó. (2016). Diseña tus personajes de Animación con arte.", "https://www.animum3d.com/blog/ez-animacion-oscar-jimenez/")
        +referenciaItem("González, D. (2015). Diseño de videojuegos: da forma a tus sueños. Ra-Ma.", "")
        +referenciaItem("Real Academia Española (RAE). Anatomía.", "https://dle.rae.es/anatomía")
        +referenciaItem("Real Academia Española (RAE). Color", "https://dle.rae.es/color")
        +referenciaItem("Vargas, Ó. J. (2020). Character Desing", "https://oscarjvargas.com/")
        +referenciaItem("Whelan, B. (1994). La armonía en el color - Nuevas tendencias (Color Harmony 2). México: FinalCopy.", "https://corazondpapel.files.wordpress.com/2012/10/45547856-salinas-rosario-la-armonia-en-el-color-nuevas-tendencias.pdf") 
        
        

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            