.container#tema_1

    .header-ecored
        h1 1. Teoría del color

    .jumbotron.bg-white     
      .row
        .col-12
          .header-ecored.mt-3
            h2 1.1 Modelos de color

      .row.mb-5
        .col-12
          p Los modelos de color permiten catalogar los colores y que se pueda trabajar con ellos por medios digitales. A través de los modelos se accede a diferentes sistemas para visualizar y modificar una imagen:      

      .jumbotron.img_texture
        .row.justify-content-center             
          .col-12.col-lg-4.d-flex.justify-content-center.mb-5
            img(src="assets/images/pages/tema_1/img_1_1_01.svg", alt="", style="width:100%").img-fluid   
          .col-12
            .jumbotron.bg-white.mb-0
              .list
                .list__item
                  .list__item__bulletNumber
                    span A
                .list__txt
                  h3 Modelo RGB
                  p.mb-0 Modelo aditivo que se basa en los colores luz. El ojo humano cuenta con 3 tipos de conos o células foto receptoras que determinan los 3 colores primarios: rojo, verde y azul (RGB por siglas en inglés). De la combinación de estos 3 se obtiene el color blanco y la ausencia de los mismos dará como resultado el negro. Este modelo de color es usado para toda clase de dispositivos como pantallas, celulares, etc.          

      .hr-divider.my-5

      .jumbotron.img_texture
        .row.justify-content-center             
          .col-12.col-lg-4.d-flex.justify-content-center.mb-5
            img(src="assets/images/pages/tema_1/img_1_1_02.svg", alt="", style="width:100%").img-fluid   
          .col-12
            .jumbotron.bg-white.mb-0
              .list
                .list__item
                  .list__item__bulletNumber
                    span B
                .list__txt
                  h3 Modelo CMYK
                  p.mb-0 modelo sustractivo basado en los colores pigmento o físicos. Los colores primarios en este modelo son: amarillo, cían y magenta (CMYK por sus siglas en inglés). Al contrario del modelo RGB, la combinación de los 3 primarios genera el color negro #[i (key o black)]. Este modelo es usado en pintura, tintes e impresión.

      .hr-divider.my-5

      .jumbotron.img_texture
        .row.justify-content-center             
          .col-12.col-lg-4.d-flex.justify-content-center.mb-5
            img(src="assets/images/pages/tema_1/img_1_1_03.png", alt="", style="width:100%").img-fluid   
          .col-12
            .jumbotron.bg-white.mb-0
              .list
                .list__item
                  .list__item__bulletNumber
                    span C
                .list__txt
                  h3 Modelo HSV 
                  p.mb-0 Se basa en las propiedades del color (tono , saturación y luminocidad), las cuales se explican en mayor detalle en la siguiente lección. 

      