.container#tema_1

    .header-ecored
        h1 1. Teoría del color 
    .jumbotron.bg-white     
      .row
        .col-12
          .header-ecored.mt-3
            h2 1.5 Psicología del color

      .row.mb-5
        .col-12
          p Como lo menciona Bride M. Whelan, “El color es a la vez simple y complejo. Este significa cosas distintas para distintas personas en culturas diferentes. Ningún color es visto del mismo modo por dos personas. El color es personal y universal, y envía mensajes de inagotable variedad”. (Whelan, 1994).
     
      .row.justify-content-center             
        .col-12.col-lg-6.mb-5
          img(src="assets/images/pages/tema_1/info_1_4-01.svg", alt="", style="width:100%").img-fluid 
        .col-12.col-lg-6.mb-5
          img(src="assets/images/pages/tema_1/info_1_4-02.svg", alt="", style="width:100%").img-fluid 
        .col-12.col-lg-6.mb-5
          img(src="assets/images/pages/tema_1/info_1_4-03.svg", alt="", style="width:100%").img-fluid 
        .col-12.col-lg-6.mb-5
          img(src="assets/images/pages/tema_1/info_1_4-04.svg", alt="", style="width:100%").img-fluid 
        .col-12.col-lg-6.mb-5
          img(src="assets/images/pages/tema_1/info_1_4-05.svg", alt="", style="width:100%").img-fluid 
        .col-12.col-lg-6.mb-5
          img(src="assets/images/pages/tema_1/info_1_4-06.svg", alt="", style="width:100%").img-fluid 
        .col-12.col-lg-6.mb-5
          img(src="assets/images/pages/tema_1/info_1_4-07.svg", alt="", style="width:100%").img-fluid 
        .col-12.col-lg-6.mb-5
          img(src="assets/images/pages/tema_1/info_1_4-08.svg", alt="", style="width:100%").img-fluid 
        .col-12.col-lg-6.mb-5
          img(src="assets/images/pages/tema_1/info_1_4-09.svg", alt="", style="width:100%").img-fluid 
        .col-12.col-lg-6.mb-5
          img(src="assets/images/pages/tema_1/info_1_4-10.svg", alt="", style="width:100%").img-fluid 
        