.container#tema_1

    .header-ecored
        h1 1. Teoría del color 

    .jumbotron.bg-white     
      .row
        .col-12
          .header-ecored.mt-3
            h2 1.2.	Propiedades del color     

      .row.justify-content-center   
        .col-12.mb-5
          img(src="assets/images/pages/tema_1/info_1_2_01.svg", alt="", style="100%").img-fluid 

      .row
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span A
            .list__txt
              h3 Tono (#[i Hue])
              p.mb-0 Es el color en concreto y ayuda a diferenciarlos. Por ejemplo, al ver un objeto se dice que tiene un tono azul o anaranjado.

          .hr-divider.my-5

        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span B
            .list__txt
              h3 Saturación  (#[i Saturation])
              p.mb-0 Intensidad o pureza del color. En otras palabras, la cantidad de gris que se le ha agregado a un tono; así entre más saturado es un color, más vibrante es, mientras que, entre menos saturado, dará mayor descanso al ojo.

          .hr-divider.my-5
          
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span C
            .list__txt
              h3 Luminosidad o valor  (#[i Value])
              p.mb-0 Describe el valor de claridad u oscuridad, en otras palabras, cantidad relativa de blanco o negro en un tono. Si agregamos el blanco a un color, obtendremos valores más claros del tono, llamados tintes. Por otro lado, si el que agregamos es el negro, tendremos valores más oscuros del tono, conocidos como matices. Por ejemplo, decimos que el rosa es un tinte del color rojo primario y el borgoña o rojo oscuro es un matiz (Whelan, 1994).

     
              

      

      



        