.container#tema_2

    .header-ecored
        h1 2. Concept art

    .jumbotron.bg-white     
      .row
        .col-12
          .header-ecored.mt-3
            h2 2.2 Diseño de escenarios

      .row
        .col-12
          p.mb-0 El diseño de escenarios es una etapa importante del proceso de creación visual, porque es en esta etapa en la que gestan los espacios y sus decorados que permitirán el desarrollo de la historia. Es el momento en el que es posible  resolver rápidamente los problemas y desafíos narrativos que se puedan llegar a presentar.

      .row.my-5   
        .col-12
          img(src="assets/images/pages/tema_2/img_2_2_00.jpg", alt="", style="100%").img-fluid 
      
      .row
        .col-12
          p Al igual que el diseño de personajes, los escenarios y props parten del proceso de creación literaria lo que brinda un contexto inicial sobre el tipo de ambiente que se debe desarrollar y en él se aplican muchos conceptos ya desarrollados hasta esta etapa. Elementos como el lenguaje audiovisual, composición, perspectiva, teoría del color, el lenguaje de formas e incluso principios anatómicos son fundamentales al plantear los escenarios.
          p.mb-0 Como todo proceso de diseño se debe partir de la investigación, esta etapa es la que siempre dará información para que todos los elementos creados convivan armónicamente en el universo donde van a existir y por tanto, evitar disonancias visuales. Claro está que todo es válido siempre y cuando tenga un propósito claro y bien definido.          

      .row.my-5   
        .col-12
          img(src="assets/images/pages/tema_2/img_2_2_01.jpg", alt="", style="100%").img-fluid 

      .row
        .col-12
          p.mb-0 Seguido de la investigación está la recolección de referencias, en esta etapa se recaba información visual que permita aclarar los detalles inherentes al desarrollo de las formas. Por ejemplo, si se trata del diseño de un escenario medieval, es muy posible que no se tengan del todo claros sus elementos en la biblioteca visual almacenada en el cerebro; por tanto, la opción más sencilla es buscar en internet imágenes relativas a la época y lugar requerido e incluso si es posible, dirigirse a un lugar de la época que haya logrado perdurar hasta la actualidad para estudiarlo y recolectar referencias visuales en vivo y en directo.

      .row.my-5   
        .col-12
          img(src="assets/images/pages/tema_2/img_2_2_02.jpg", alt="", style="100%").img-fluid 

      .row
        .col-12
          p.mb-0 Superada la etapa de investigación y recolección de referencias, es hora de poner manos a la obra y empezar a generar propuestas en forma de bocetos rápidos para ir acercando el desarrollo visual a las necesidades de la historia, realizando las respectivas iteraciones sobre las propuestas seleccionadas hasta llegar al punto donde se obtengan las imágenes finales.

      .row.mt-5   
        .col-12
          img(src="assets/images/pages/tema_2/img_2_2_03.jpg", alt="", style="100%").img-fluid 
